In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
train_feature = pd.read_csv('/content/drive/MyDrive/Telkom (1)/Find it/train_features.csv')
train_label = pd.read_csv('/content/drive/MyDrive/Telkom (1)/Find it/train_labels.csv')

In [ ]:
test_features = pd.read_csv('/content/drive/MyDrive/Telkom (1)/Find it/test_features.csv')

In [ ]:
train_feature

,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,1979,Sarjana,Rencana Menikah,NaN,0.0,1.0,NaN,50575.0,260967.0,50575.0,20230.0,2.0,2.0,5.0,0.0,2014-05-05
1,1950,Sarjana,Rencana Menikah,84063000.0,NaN,NaN,70.0,6069.0,44506.0,80920.0,20230.0,9.0,6.0,4.0,0.0,2013-03-17
2,1966,Sarjana,Menikah,127532564.0,0.0,0.0,45.0,117611.0,265460.0,96341.0,145573.0,1.0,1.0,7.0,0.0,NaN
3,1961,Magister,Rencana Menikah,165579620.0,0.0,0.0,90.0,206346.0,1613901.0,27725.0,125868.0,0.0,7.0,8.0,0.0,NaN
4,1970,Sarjana,Rencana Menikah,117703159.0,1.0,1.0,78.0,90563.0,311757.0,40358.0,33875.0,7.0,6.0,5.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3812,1955,Magister,Menikah,78199470.0,0.0,0.0,33.0,6069.0,25977.0,3856.0,5784.0,5.0,1.0,0.0,0.0,NaN
3813,1947,Doktor,Rencana Menikah,109306000.0,0.0,1.0,44.0,0.0,50575.0,NaN,0.0,3.0,6.0,3.0,0.0,2014-06-09
3814,1974,Magister,Menikah,104621000.0,0.0,2.0,68.0,2023.0,62713.0,8092.0,0.0,7.0,5.0,7.0,0.0,2013-11-07
3815,1957,SMA,Rencana Menikah,110850000.0,1.0,1.0,67.0,18207.0,70805.0,24276.0,NaN,4.0,5.0,4.0,0.0,2013-06-30
3816,1961,Sarjana,Menikah,130512000.0,0.0,0.0,70.0,329749.0,600831.0,420784.0,161840.0,3.0,7.0,15.0,0.0,2014-01-25

In [ ]:
test_features

,ID,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,2241,1957,Sarjana,NaN,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.0,84305.0,4.0,6.0,10.0,0.0,NaN
1,2274,1968,Doktor,Menikah,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.0,41112.0,2.0,5.0,10.0,0.0,NaN
2,1107,1968,SMA,Menikah,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.0,26299.0,2.0,0.0,5.0,0.0,2013-08-06
3,4478,1971,Doktor,Menikah,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.0,9745.0,3.0,5.0,7.0,0.0,NaN
4,5080,1974,Sarjana,Rencana Menikah,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.0,107776.0,0.0,1.0,8.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,1984,Magister,Sendiri,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.0,10115.0,4.0,0.0,6.0,1.0,2014-03-17
3814,3334,1972,Sarjana,Menikah,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.0,78693.0,0.0,6.0,8.0,0.0,NaN
3815,3478,1968,Magister,Rencana Menikah,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.0,10540.0,NaN,0.0,1.0,0.0,NaN
3816,89,1966,Sarjana,Rencana Menikah,106301000.0,0.0,1.0,74.0,16184.0,78897.0,NaN,0.0,3.0,5.0,3.0,0.0,2014-01-20
3817,2151,1973,Sarjana,Menikah,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.0,NaN,2.0,2.0,8.0,0.0,2012-09-15

In [ ]:
train_file = train_feature
train_file['jumlah_promosi'] = train_label
train_file

,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota,jumlah_promosi
0,1979,Sarjana,Rencana Menikah,NaN,0.0,1.0,NaN,50575.0,260967.0,50575.0,20230.0,2.0,2.0,5.0,0.0,2014-05-05,2
1,1950,Sarjana,Rencana Menikah,84063000.0,NaN,NaN,70.0,6069.0,44506.0,80920.0,20230.0,9.0,6.0,4.0,0.0,2013-03-17,0
2,1966,Sarjana,Menikah,127532564.0,0.0,0.0,45.0,117611.0,265460.0,96341.0,145573.0,1.0,1.0,7.0,0.0,NaN,1
3,1961,Magister,Rencana Menikah,165579620.0,0.0,0.0,90.0,206346.0,1613901.0,27725.0,125868.0,0.0,7.0,8.0,0.0,NaN,4
4,1970,Sarjana,Rencana Menikah,117703159.0,1.0,1.0,78.0,90563.0,311757.0,40358.0,33875.0,7.0,6.0,5.0,0.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3812,1955,Magister,Menikah,78199470.0,0.0,0.0,33.0,6069.0,25977.0,3856.0,5784.0,5.0,1.0,0.0,0.0,NaN,5
3813,1947,Doktor,Rencana Menikah,109306000.0,0.0,1.0,44.0,0.0,50575.0,NaN,0.0,3.0,6.0,3.0,0.0,2014-06-09,1
3814,1974,Magister,Menikah,104621000.0,0.0,2.0,68.0,2023.0,62713.0,8092.0,0.0,7.0,5.0,7.0,0.0,2013-11-07,0
3815,1957,SMA,Rencana Menikah,110850000.0,1.0,1.0,67.0,18207.0,70805.0,24276.0,NaN,4.0,5.0,4.0,0.0,2013-06-30,0
3816,1961,Sarjana,Menikah,130512000.0,0.0,0.0,70.0,329749.0,600831.0,420784.0,161840.0,3.0,7.0,15.0,0.0,2014-01-25,0

# Preprocessing Per Attribute Train File

In [ ]:
train_file.isnull().sum()

tahun_kelahiran               0
pendidikan                  189
status_pernikahan           212
pendapatan                  190
jumlah_anak_balita          190
jumlah_anak_remaja          204
terakhir_belanja            172
belanja_buah                181
belanja_daging              178
belanja_ikan                193
belanja_kue                 214
pembelian_diskon            178
pembelian_web               165
pembelian_toko              169
keluhan                     196
tanggal_menjadi_anggota    2752
jumlah_promosi                0
dtype: int64

In [ ]:
# Inisialisasi label encoder
encoder = LabelEncoder()
# Inisialisasi OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse_output=False)

In [ ]:
col = 'tahun_kelahiran'

q1 = train_file[col].quantile(0.25)
q3 = train_file[col].quantile(0.75)
q95 = train_file[col].quantile(0.95)
iqr = q3 - q1
median = train_file[col].median()

# Calculate outlier limits
lower_outlier_limit = median - 1.5 * iqr

# Trim lower limit
train_file.loc[train_file[col]<lower_outlier_limit,col] = lower_outlier_limit

In [ ]:
train_file

,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota,jumlah_promosi
0,1979.0,Sarjana,Rencana Menikah,NaN,0.0,1.0,NaN,50575.0,260967.0,50575.0,20230.0,2.0,2.0,5.0,0.0,2014-05-05,2
1,1950.0,Sarjana,Rencana Menikah,84063000.0,NaN,NaN,70.0,6069.0,44506.0,80920.0,20230.0,9.0,6.0,4.0,0.0,2013-03-17,0
2,1966.0,Sarjana,Menikah,127532564.0,0.0,0.0,45.0,117611.0,265460.0,96341.0,145573.0,1.0,1.0,7.0,0.0,NaN,1
3,1961.0,Magister,Rencana Menikah,165579620.0,0.0,0.0,90.0,206346.0,1613901.0,27725.0,125868.0,0.0,7.0,8.0,0.0,NaN,4
4,1970.0,Sarjana,Rencana Menikah,117703159.0,1.0,1.0,78.0,90563.0,311757.0,40358.0,33875.0,7.0,6.0,5.0,0.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3812,1955.0,Magister,Menikah,78199470.0,0.0,0.0,33.0,6069.0,25977.0,3856.0,5784.0,5.0,1.0,0.0,0.0,NaN,5
3813,1947.0,Doktor,Rencana Menikah,109306000.0,0.0,1.0,44.0,0.0,50575.0,NaN,0.0,3.0,6.0,3.0,0.0,2014-06-09,1
3814,1974.0,Magister,Menikah,104621000.0,0.0,2.0,68.0,2023.0,62713.0,8092.0,0.0,7.0,5.0,7.0,0.0,2013-11-07,0
3815,1957.0,SMA,Rencana Menikah,110850000.0,1.0,1.0,67.0,18207.0,70805.0,24276.0,NaN,4.0,5.0,4.0,0.0,2013-06-30,0
3816,1961.0,Sarjana,Menikah,130512000.0,0.0,0.0,70.0,329749.0,600831.0,420784.0,161840.0,3.0,7.0,15.0,0.0,2014-01-25,0

In [ ]:
#PREPROCESSING tAHUN kELAHIRAN
# Menghitung quartil pertama (Q1)
Q1 = np.percentile(train_file['tahun_kelahiran'], 25)

# Menghitung quartil kedua (Q2) atau median
Q2 = np.percentile(train_file['tahun_kelahiran'], 50)

# Menghitung quartil ketiga (Q3)
Q3 = np.percentile(train_file['tahun_kelahiran'], 75)

print("Quartil pertama (Q1):", Q1)
print("Quartil kedua (Q2):", Q2)
print("Quartil ketiga (Q3):", Q3)

print(train_file['tahun_kelahiran'].min())
#Mengkategorikan data berdasarkan quartil
for i,tahun in train_file['tahun_kelahiran'].items() :
  if(tahun <= Q1):
      train_file['tahun_kelahiran'][i] = 1
  elif(tahun > Q1 and tahun  <= Q2) :
    train_file['tahun_kelahiran'][i] = 2
  else :
     train_file['tahun_kelahiran'][i] = 3
train_file

Quartil pertama (Q1): 1959.0
Quartil kedua (Q2): 1968.0
Quartil ketiga (Q3): 1976.0
1899

,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota,jumlah_promosi
0,3,Sarjana,Rencana Menikah,NaN,0.0,1.0,NaN,50575.0,260967.0,50575.0,20230.0,2.0,2.0,5.0,0.0,2014-05-05,2
1,1,Sarjana,Rencana Menikah,84063000.0,NaN,NaN,70.0,6069.0,44506.0,80920.0,20230.0,9.0,6.0,4.0,0.0,2013-03-17,0
2,2,Sarjana,Menikah,127532564.0,0.0,0.0,45.0,117611.0,265460.0,96341.0,145573.0,1.0,1.0,7.0,0.0,NaN,1
3,2,Magister,Rencana Menikah,165579620.0,0.0,0.0,90.0,206346.0,1613901.0,27725.0,125868.0,0.0,7.0,8.0,0.0,NaN,4
4,3,Sarjana,Rencana Menikah,117703159.0,1.0,1.0,78.0,90563.0,311757.0,40358.0,33875.0,7.0,6.0,5.0,0.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3812,1,Magister,Menikah,78199470.0,0.0,0.0,33.0,6069.0,25977.0,3856.0,5784.0,5.0,1.0,0.0,0.0,NaN,5
3813,1,Doktor,Rencana Menikah,109306000.0,0.0,1.0,44.0,0.0,50575.0,NaN,0.0,3.0,6.0,3.0,0.0,2014-06-09,1
3814,3,Magister,Menikah,104621000.0,0.0,2.0,68.0,2023.0,62713.0,8092.0,0.0,7.0,5.0,7.0,0.0,2013-11-07,0
3815,1,SMA,Rencana Menikah,110850000.0,1.0,1.0,67.0,18207.0,70805.0,24276.0,NaN,4.0,5.0,4.0,0.0,2013-06-30,0
3816,2,Sarjana,Menikah,130512000.0,0.0,0.0,70.0,329749.0,600831.0,420784.0,161840.0,3.0,7.0,15.0,0.0,2014-01-25,0

In [ ]:
#Preprocessing data pendidikan
train_file['pendidikan'] = train_file['pendidikan'].fillna(train_file['pendidikan'].mode().iloc[0])
mode_value = train_file['pendidikan'].mode()[0]
# Replace the values containing '5' with the mode
train_file['pendidikan'] = train_file['pendidikan'].replace('5', mode_value)
train_file['pendidikan'].value_counts()

pendidikan
Sarjana     2032
Magister     856
SMA          435
Doktor       403
SMP           91
Name: count, dtype: int64

In [ ]:

#Preprocessing data status_pernikahan
train_file['status_pernikahan'] = train_file['status_pernikahan'].fillna(train_file['status_pernikahan'].mode().iloc[0])
mode_value = train_file['status_pernikahan'].mode()[0]
# Replace the values containing '5' with the mode
train_file['status_pernikahan'] = train_file['status_pernikahan'].replace('5', mode_value)
train_file['status_pernikahan'].value_counts()

status_pernikahan
Rencana Menikah    1484
Menikah            1114
Sendiri             965
Cerai               214
Cerai Mati           40
Name: count, dtype: int64

In [ ]:
#Preprocessing data pendapatan
train_file['pendapatan'] = train_file['pendapatan'].fillna(train_file['pendapatan'].median())
# # Menghitung quartil pertama (Q1)
# Q1 = np.percentile(train_file['pendapatan'], 25)

# # Menghitung quartil kedua (Q2) atau median
# Q2 = np.percentile(train_file['pendapatan'], 50)

# # Menghitung quartil ketiga (Q3)
# Q3 = np.percentile(train_file['pendapatan'], 75)

# print("Quartil pertama (Q1):", Q1)
# print("Quartil kedua (Q2):", Q2)
# print("Quartil ketiga (Q3):", Q3)

# print(train_file['pendapatan'].min())
# #Mengkategorikan data berdasarkan quartil
# for i,tahun in train_file['pendapatan'].items() :
#   if(tahun <= Q1):
#       train_file['pendapatan'][i] = 1
#   elif(tahun > Q1 and tahun  <= Q2) :
#     train_file['pendapatan'][i] = 2
#   else :
#      train_file['pendapatan'][i] = 3
# train_file

In [ ]:
#Preprocessing data jumlah balita dan jumlah anak
train_file['jumlah_anak_balita'] = train_file['jumlah_anak_balita'].fillna(train_file['jumlah_anak_balita'].mode().iloc[0])
train_file['jumlah_anak_remaja'] = train_file['jumlah_anak_remaja'].fillna(train_file['jumlah_anak_remaja'].mode().iloc[0])
train_file['jumlah_anak'] = train_file['jumlah_anak_remaja'] + train_file['jumlah_anak_balita']
train_file = train_file.drop(columns = ['jumlah_anak_balita','jumlah_anak_remaja'])
# # Menghitung quartil pertama (Q1)
# Q1 = np.percentile(train_file['jumlah_anak'], 25)

# # Menghitung quartil kedua (Q2) atau median
# Q2 = np.percentile(train_file['jumlah_anak'], 50)

# # Menghitung quartil ketiga (Q3)
# Q3 = np.percentile(train_file['jumlah_anak'], 75)

# print("Quartil pertama (Q1):", Q1)
# print("Quartil kedua (Q2):", Q2)
# print("Quartil ketiga (Q3):", Q3)

# print(train_file['jumlah_anak'].min())
# #Mengkategorikan data berdasarkan quartil
# for i,tahun in train_file['jumlah_anak'].items() :
#   if(tahun <= Q1):
#       train_file['jumlah_anak'][i] = 1
#   elif(tahun > Q1 and tahun  <= Q2) :
#     train_file['jumlah_anak'][i] = 2
#   else :
#      train_file['jumlah_anak'][i] = 3
train_file

,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota,jumlah_promosi,jumlah_anak
0,3,Sarjana,Rencana Menikah,115621394.0,NaN,50575.0,260967.0,50575.0,20230.0,2.0,2.0,5.0,0.0,2014-05-05,2,1.0
1,1,Sarjana,Rencana Menikah,84063000.0,70.0,6069.0,44506.0,80920.0,20230.0,9.0,6.0,4.0,0.0,2013-03-17,0,0.0
2,2,Sarjana,Menikah,127532564.0,45.0,117611.0,265460.0,96341.0,145573.0,1.0,1.0,7.0,0.0,NaN,1,0.0
3,2,Magister,Rencana Menikah,165579620.0,90.0,206346.0,1613901.0,27725.0,125868.0,0.0,7.0,8.0,0.0,NaN,4,0.0
4,3,Sarjana,Rencana Menikah,117703159.0,78.0,90563.0,311757.0,40358.0,33875.0,7.0,6.0,5.0,0.0,NaN,4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3812,1,Magister,Menikah,78199470.0,33.0,6069.0,25977.0,3856.0,5784.0,5.0,1.0,0.0,0.0,NaN,5,0.0
3813,1,Doktor,Rencana Menikah,109306000.0,44.0,0.0,50575.0,NaN,0.0,3.0,6.0,3.0,0.0,2014-06-09,1,1.0
3814,3,Magister,Menikah,104621000.0,68.0,2023.0,62713.0,8092.0,0.0,7.0,5.0,7.0,0.0,2013-11-07,0,2.0
3815,1,SMA,Rencana Menikah,110850000.0,67.0,18207.0,70805.0,24276.0,NaN,4.0,5.0,4.0,0.0,2013-06-30,0,2.0
3816,2,Sarjana,Menikah,130512000.0,70.0,329749.0,600831.0,420784.0,161840.0,3.0,7.0,15.0,0.0,2014-01-25,0,0.0

In [ ]:
#preprocessing terakir belanja
mean_ceil_value = np.ceil(train_file['terakhir_belanja'].mean())
train_file['terakhir_belanja'] = train_file['terakhir_belanja'].fillna(mean_ceil_value)
train_file['terakhir_belanja'] = np.ceil(train_file['terakhir_belanja'])
# # Menghitung quartil pertama (Q1)
# Q1 = np.percentile(train_file['terakhir_belanja'], 25)

# # Menghitung quartil kedua (Q2) atau median
# Q2 = np.percentile(train_file['terakhir_belanja'], 50)

# # Menghitung quartil ketiga (Q3)
# Q3 = np.percentile(train_file['terakhir_belanja'], 75)

# print("Quartil pertama (Q1):", Q1)
# print("Quartil kedua (Q2):", Q2)
# print("Quartil ketiga (Q3):", Q3)

# print(train_file['terakhir_belanja'].min())
# #Mengkategorikan data berdasarkan quartil
# for i,tahun in train_file['terakhir_belanja'].items() :
#   if(tahun <= Q1):
#       train_file['terakhir_belanja'][i] = 1
#   elif(tahun > Q1 and tahun  <= Q2) :
#     train_file['terakhir_belanja'][i] = 2
#   else :
#      train_file['terakhir_belanja'][i] = 3
train_file

,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota,jumlah_promosi,jumlah_anak
0,3,Sarjana,Rencana Menikah,115621394.0,48.0,50575.0,260967.0,50575.0,20230.0,2.0,2.0,5.0,0.0,2014-05-05,2,1.0
1,1,Sarjana,Rencana Menikah,84063000.0,70.0,6069.0,44506.0,80920.0,20230.0,9.0,6.0,4.0,0.0,2013-03-17,0,0.0
2,2,Sarjana,Menikah,127532564.0,45.0,117611.0,265460.0,96341.0,145573.0,1.0,1.0,7.0,0.0,NaN,1,0.0
3,2,Magister,Rencana Menikah,165579620.0,90.0,206346.0,1613901.0,27725.0,125868.0,0.0,7.0,8.0,0.0,NaN,4,0.0
4,3,Sarjana,Rencana Menikah,117703159.0,78.0,90563.0,311757.0,40358.0,33875.0,7.0,6.0,5.0,0.0,NaN,4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3812,1,Magister,Menikah,78199470.0,33.0,6069.0,25977.0,3856.0,5784.0,5.0,1.0,0.0,0.0,NaN,5,0.0
3813,1,Doktor,Rencana Menikah,109306000.0,44.0,0.0,50575.0,NaN,0.0,3.0,6.0,3.0,0.0,2014-06-09,1,1.0
3814,3,Magister,Menikah,104621000.0,68.0,2023.0,62713.0,8092.0,0.0,7.0,5.0,7.0,0.0,2013-11-07,0,2.0
3815,1,SMA,Rencana Menikah,110850000.0,67.0,18207.0,70805.0,24276.0,NaN,4.0,5.0,4.0,0.0,2013-06-30,0,2.0
3816,2,Sarjana,Menikah,130512000.0,70.0,329749.0,600831.0,420784.0,161840.0,3.0,7.0,15.0,0.0,2014-01-25,0,0.0

In [ ]:
#preprocessing belanja buah
train_file['belanja_buah'] = train_file['belanja_buah'].fillna(train_file['belanja_buah'].median())

#preprocessing belanja belanja daging
train_file['belanja_daging'] = train_file['belanja_daging'].fillna(train_file['belanja_daging'].median())

#preprocessing belanja ikan
train_file['belanja_ikan'] = train_file['belanja_ikan'].fillna(train_file['belanja_ikan'].median())

#preprocessing belanja kue
train_file['belanja_kue'] = train_file['belanja_kue'].fillna(train_file['belanja_kue'].median())

train_file['total_belanja'] = train_file['belanja_buah'] + train_file['belanja_daging'] + train_file['belanja_ikan'] + train_file['belanja_kue']
train_file = train_file.drop(columns = ['belanja_buah','belanja_daging', 'belanja_ikan','belanja_kue'])

train_file['total_belanja'] = np.ceil(train_file['total_belanja'])
# # Menghitung quartil pertama (Q1)
# Q1 = np.percentile(train_file['total_belanja'], 25)

# # Menghitung quartil kedua (Q2) atau median
# Q2 = np.percentile(train_file['total_belanja'], 50)

# # Menghitung quartil ketiga (Q3)
# Q3 = np.percentile(train_file['total_belanja'], 75)

# print("Quartil pertama (Q1):", Q1)
# print("Quartil kedua (Q2):", Q2)
# print("Quartil ketiga (Q3):", Q3)

# print(train_file['total_belanja'].min())
# #Mengkategorikan data berdasarkan quartil
# for i,tahun in train_file['total_belanja'].items() :
#   if(tahun <= Q1):
#       train_file['total_belanja'][i] = 1
#   elif(tahun > Q1 and tahun  <= Q2) :
#     train_file['total_belanja'][i] = 2
#   else :
#      train_file['total_belanja'][i] = 3
train_file

,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,terakhir_belanja,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota,jumlah_promosi,jumlah_anak,total_belanja
0,3,Sarjana,Rencana Menikah,115621394.0,48.0,2.0,2.0,5.0,0.0,2014-05-05,2,1.0,382347.0
1,1,Sarjana,Rencana Menikah,84063000.0,70.0,9.0,6.0,4.0,0.0,2013-03-17,0,0.0,151725.0
2,2,Sarjana,Menikah,127532564.0,45.0,1.0,1.0,7.0,0.0,NaN,1,0.0,624985.0
3,2,Magister,Rencana Menikah,165579620.0,90.0,0.0,7.0,8.0,0.0,NaN,4,0.0,1973840.0
4,3,Sarjana,Rencana Menikah,117703159.0,78.0,7.0,6.0,5.0,0.0,NaN,4,2.0,476553.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3812,1,Magister,Menikah,78199470.0,33.0,5.0,1.0,0.0,0.0,NaN,5,0.0,41686.0
3813,1,Doktor,Rencana Menikah,109306000.0,44.0,3.0,6.0,3.0,0.0,2014-06-09,1,1.0,86630.0
3814,3,Magister,Menikah,104621000.0,68.0,7.0,5.0,7.0,0.0,2013-11-07,0,2.0,72828.0
3815,1,SMA,Rencana Menikah,110850000.0,67.0,4.0,5.0,4.0,0.0,2013-06-30,0,2.0,141083.0
3816,2,Sarjana,Menikah,130512000.0,70.0,3.0,7.0,15.0,0.0,2014-01-25,0,0.0,1513204.0

In [ ]:
#preprocessing pembelian diskon
mean_ceil_value = np.ceil(train_file['pembelian_diskon'].median())
train_file['pembelian_diskon'] = train_file['pembelian_diskon'].fillna(mean_ceil_value)
train_file['pembelian_diskon'] = np.ceil(train_file['pembelian_diskon'])

#preprocessing pembelian web
mean_ceil_value = np.ceil(train_file['pembelian_web'].median())
train_file['pembelian_web'] = train_file['pembelian_web'].fillna(mean_ceil_value)
train_file['pembelian_web'] = np.ceil(train_file['pembelian_web'])

#preprocessing pembelian toko
mean_ceil_value = np.ceil(train_file['pembelian_toko'].median())
train_file['pembelian_toko'] = train_file['pembelian_toko'].fillna(mean_ceil_value)
train_file['pembelian_toko'] = np.ceil(train_file['pembelian_toko'])

train_file['total_pembelian'] = train_file['pembelian_diskon'] + train_file['pembelian_web'] + train_file['pembelian_toko']
train_file = train_file.drop(columns = ['pembelian_diskon','pembelian_web', 'pembelian_toko'])

train_file['total_pembelian'] = np.ceil(train_file['total_pembelian'])
# # Menghitung quartil pertama (Q1)
# Q1 = np.percentile(train_file['total_pembelian'], 25)

# # Menghitung quartil kedua (Q2) atau median
# Q2 = np.percentile(train_file['total_pembelian'], 50)

# # Menghitung quartil ketiga (Q3)
# Q3 = np.percentile(train_file['total_pembelian'], 75)

# print("Quartil pertama (Q1):", Q1)
# print("Quartil kedua (Q2):", Q2)
# print("Quartil ketiga (Q3):", Q3)

# print(train_file['total_pembelian'].min())
# #Mengkategorikan data berdasarkan quartil
# for i,tahun in train_file['total_pembelian'].items() :
#   if(tahun <= Q1):
#       train_file['total_pembelian'][i] = 1
#   elif(tahun > Q1 and tahun  <= Q2) :
#     train_file['total_pembelian'][i] = 2
#   else :
#      train_file['total_pembelian'][i] = 3
train_file

,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,terakhir_belanja,keluhan,tanggal_menjadi_anggota,jumlah_promosi,jumlah_anak,total_belanja,total_pembelian
0,3,Sarjana,Rencana Menikah,115621394.0,48.0,0.0,2014-05-05,2,1.0,382347.0,9.0
1,1,Sarjana,Rencana Menikah,84063000.0,70.0,0.0,2013-03-17,0,0.0,151725.0,19.0
2,2,Sarjana,Menikah,127532564.0,45.0,0.0,NaN,1,0.0,624985.0,9.0
3,2,Magister,Rencana Menikah,165579620.0,90.0,0.0,NaN,4,0.0,1973840.0,15.0
4,3,Sarjana,Rencana Menikah,117703159.0,78.0,0.0,NaN,4,2.0,476553.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...
3812,1,Magister,Menikah,78199470.0,33.0,0.0,NaN,5,0.0,41686.0,6.0
3813,1,Doktor,Rencana Menikah,109306000.0,44.0,0.0,2014-06-09,1,1.0,86630.0,12.0
3814,3,Magister,Menikah,104621000.0,68.0,0.0,2013-11-07,0,2.0,72828.0,19.0
3815,1,SMA,Rencana Menikah,110850000.0,67.0,0.0,2013-06-30,0,2.0,141083.0,13.0
3816,2,Sarjana,Menikah,130512000.0,70.0,0.0,2014-01-25,0,0.0,1513204.0,25.0

In [ ]:
#Preprocessing keluhan
train_file['keluhan'] = train_file['keluhan'].fillna(train_file['keluhan'].mode().iloc[0])
train_file

,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,terakhir_belanja,keluhan,tanggal_menjadi_anggota,jumlah_promosi,jumlah_anak,total_belanja,total_pembelian
0,3,Sarjana,Rencana Menikah,115621394.0,48.0,0.0,2014-05-05,2,1.0,382347.0,9.0
1,1,Sarjana,Rencana Menikah,84063000.0,70.0,0.0,2013-03-17,0,0.0,151725.0,19.0
2,2,Sarjana,Menikah,127532564.0,45.0,0.0,NaN,1,0.0,624985.0,9.0
3,2,Magister,Rencana Menikah,165579620.0,90.0,0.0,NaN,4,0.0,1973840.0,15.0
4,3,Sarjana,Rencana Menikah,117703159.0,78.0,0.0,NaN,4,2.0,476553.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...
3812,1,Magister,Menikah,78199470.0,33.0,0.0,NaN,5,0.0,41686.0,6.0
3813,1,Doktor,Rencana Menikah,109306000.0,44.0,0.0,2014-06-09,1,1.0,86630.0,12.0
3814,3,Magister,Menikah,104621000.0,68.0,0.0,2013-11-07,0,2.0,72828.0,19.0
3815,1,SMA,Rencana Menikah,110850000.0,67.0,0.0,2013-06-30,0,2.0,141083.0,13.0
3816,2,Sarjana,Menikah,130512000.0,70.0,0.0,2014-01-25,0,0.0,1513204.0,25.0

In [ ]:
train_file['pendidikan'] = encoder.fit_transform(train_file['pendidikan'])
train_file['status_pernikahan'] = encoder.fit_transform(train_file['status_pernikahan'])

In [ ]:
encoded_data = one_hot_encoder.fit_transform(train_file[['pendidikan','status_pernikahan']])
encoded_df = pd.DataFrame(encoded_data, columns=one_hot_encoder.get_feature_names_out(['pendidikan','status_pernikahan']))
# Menggabungkan DataFrame hasil encoding dengan DataFrame asli
train_file = pd.concat([train_file, encoded_df], axis=1)
train_file = train_file.drop(columns = ['pendidikan','status_pernikahan'])

# Menampilkan hasil
train_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3817 entries, 0 to 3816
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   pendapatan                         3817 non-null   float64
 1   jumlah_anak_balita                 3817 non-null   float64
 2   jumlah_anak_remaja                 3817 non-null   float64
 3   terakhir_belanja                   3817 non-null   float64
 4   belanja_buah                       3817 non-null   float64
 5   belanja_daging                     3817 non-null   float64
 6   belanja_ikan                       3817 non-null   float64
 7   belanja_kue                        3817 non-null   float64
 8   pembelian_diskon                   3817 non-null   float64
 9   pembelian_web                      3817 non-null   float64
 10  pembelian_toko                     3817 non-null   float64
 11  keluhan                            3817 non-null   float64
 12  tanggal_menjadi_anggota            1065 non-null   object
 13  jumlah_promosi                     3817 non-null   int64
 14  tahun_kelahiran_Muda               3817 non-null   float64
 15  tahun_kelahiran_Sedang             3817 non-null   float64
 16  tahun_kelahiran_Tua                3817 non-null   float64
 17  pendidikan_5                       3817 non-null   float64
 18  pendidikan_Doktor                  3817 non-null   float64
 19  pendidikan_Magister                3817 non-null   float64
 20  pendidikan_SMA                     3817 non-null   float64
 21  pendidikan_SMP                     3817 non-null   float64
 22  pendidikan_Sarjana                 3817 non-null   float64
 23  status_pernikahan_5                3817 non-null   float64
 24  status_pernikahan_Cerai            3817 non-null   float64
 25  status_pernikahan_Cerai Mati       3817 non-null   float64
 26  status_pernikahan_Menikah          3817 non-null   float64
 27  status_pernikahan_Rencana Menikah  3817 non-null   float64
 28  status_pernikahan_Sendiri          3817 non-null   float64
dtypes: float64(27), int64(1), object(1)
memory usage: 864.9+ KB

In [ ]:
train_file = train_file.drop(columns = ['tanggal_menjadi_anggota'])

In [ ]:
#preprocessing tanggal jadi anggot
train_file['tahun'] = pd.to_datetime(train_file['tanggal_menjadi_anggota']).dt.year
train_file['bulan'] = pd.to_datetime(train_file['tanggal_menjadi_anggota']).dt.month
train_file['hari'] = pd.to_datetime(train_file['tanggal_menjadi_anggota']).dt.day

# Drop kolom tanggal awal
train_file.drop('tanggal_menjadi_anggota', axis=1, inplace=True)

# Membuat DataFrame baru yang berisi kolom tanggal yang tidak null
not_null_dates = train_file[train_file['tahun'].notnull()]

# Membuat DataFrame baru yang berisi kolom tanggal yang null
null_dates = train_file[train_file['tahun'].isnull()]

# Pisahkan fitur dan target
X_train = not_null_dates.drop(columns = ['tahun', 'bulan', 'hari'])  # Ganti fitur1, fitur2, ... dengan fitur-fitur yang relevan
y_train = not_null_dates[['tahun', 'bulan', 'hari']]

# Inisialisasi model Regresi Linear Multi-output
model = LinearRegression()

# Melatih model
model.fit(X_train, y_train)

# Prediksi nilai-nilai yang hilang
X_test = null_dates.drop(columns = ['tahun', 'bulan', 'hari'])  # Sama seperti di atas, ganti dengan fitur yang relevan
predicted_values = model.predict(X_test)

# Isi nilai null dengan nilai-nilai yang diprediksi
train_file.loc[train_file['tahun'].isnull(), ['tahun', 'bulan', 'hari']] = predicted_values

# Sekarang train_file akan berisi data dengan nilai null yang sudah diisi

In [ ]:
train_file

,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,terakhir_belanja,keluhan,jumlah_promosi,jumlah_anak,total_belanja,total_pembelian
0,3,5,4,115621394.0,48.0,0.0,2,1.0,382347.0,9.0
1,1,5,4,84063000.0,70.0,0.0,0,0.0,151725.0,19.0
2,2,5,3,127532564.0,45.0,0.0,1,0.0,624985.0,9.0
3,2,2,4,165579620.0,90.0,0.0,4,0.0,1973840.0,15.0
4,3,5,4,117703159.0,78.0,0.0,4,2.0,476553.0,18.0
...,...,...,...,...,...,...,...,...,...,...
3812,1,2,3,78199470.0,33.0,0.0,5,0.0,41686.0,6.0
3813,1,1,4,109306000.0,44.0,0.0,1,1.0,86630.0,12.0
3814,3,2,3,104621000.0,68.0,0.0,0,2.0,72828.0,19.0
3815,1,3,4,110850000.0,67.0,0.0,0,2.0,141083.0,13.0
3816,2,5,3,130512000.0,70.0,0.0,0,0.0,1513204.0,25.0

# Preprocessing Per Attribute Test File

In [ ]:
test_features.isnull().sum()

ID                            0
tahun_kelahiran               0
pendidikan                  204
status_pernikahan           182
pendapatan                  203
jumlah_anak_balita          209
jumlah_anak_remaja          210
terakhir_belanja            201
belanja_buah                186
belanja_daging              195
belanja_ikan                196
belanja_kue                 187
pembelian_diskon            179
pembelian_web               180
pembelian_toko              186
keluhan                     193
tanggal_menjadi_anggota    2759
dtype: int64

In [ ]:
#PREPROCESSING tAHUN kELAHIRAN
# Menghitung quartil pertama (Q1)
Q1 = np.percentile(test_features['tahun_kelahiran'], 25)

# Menghitung quartil kedua (Q2) atau median
Q2 = np.percentile(test_features['tahun_kelahiran'], 50)

# Menghitung quartil ketiga (Q3)
Q3 = np.percentile(test_features['tahun_kelahiran'], 75)

print("Quartil pertama (Q1):", Q1)
print("Quartil kedua (Q2):", Q2)
print("Quartil ketiga (Q3):", Q3)

print(test_features['tahun_kelahiran'].min())
#Mengkategorikan data berdasarkan quartil
for i,tahun in test_features['tahun_kelahiran'].items() :
  if(tahun <= Q1):
      test_features['tahun_kelahiran'][i] = 'Tua'
  elif(tahun > Q1 and tahun  <= Q2) :
    test_features['tahun_kelahiran'][i] = 'Sedang'
  else :
     test_features['tahun_kelahiran'][i] = 'Muda'
test_features

Quartil pertama (Q1): 1959.0
Quartil kedua (Q2): 1968.0
Quartil ketiga (Q3): 1976.0
1892

<ipython-input-85-9df1cbd8d5d5>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_features['tahun_kelahiran'][i] = 'Tua'

,ID,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,2241,Tua,Sarjana,NaN,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.0,84305.0,4.0,6.0,10.0,0.0,NaN
1,2274,Sedang,Doktor,Menikah,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.0,41112.0,2.0,5.0,10.0,0.0,NaN
2,1107,Sedang,SMA,Menikah,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.0,26299.0,2.0,0.0,5.0,0.0,2013-08-06
3,4478,Muda,Doktor,Menikah,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.0,9745.0,3.0,5.0,7.0,0.0,NaN
4,5080,Muda,Sarjana,Rencana Menikah,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.0,107776.0,0.0,1.0,8.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,Muda,Magister,Sendiri,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.0,10115.0,4.0,0.0,6.0,1.0,2014-03-17
3814,3334,Muda,Sarjana,Menikah,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.0,78693.0,0.0,6.0,8.0,0.0,NaN
3815,3478,Sedang,Magister,Rencana Menikah,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.0,10540.0,NaN,0.0,1.0,0.0,NaN
3816,89,Sedang,Sarjana,Rencana Menikah,106301000.0,0.0,1.0,74.0,16184.0,78897.0,NaN,0.0,3.0,5.0,3.0,0.0,2014-01-20
3817,2151,Muda,Sarjana,Menikah,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.0,NaN,2.0,2.0,8.0,0.0,2012-09-15

In [ ]:
#Preprocessing data pendidikan
test_features['pendidikan'] = test_features['pendidikan'].fillna(test_features['pendidikan'].mode().iloc[0])
test_features

,ID,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,2241,Tua,Sarjana,NaN,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.0,84305.0,4.0,6.0,10.0,0.0,NaN
1,2274,Sedang,Doktor,Menikah,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.0,41112.0,2.0,5.0,10.0,0.0,NaN
2,1107,Sedang,SMA,Menikah,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.0,26299.0,2.0,0.0,5.0,0.0,2013-08-06
3,4478,Muda,Doktor,Menikah,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.0,9745.0,3.0,5.0,7.0,0.0,NaN
4,5080,Muda,Sarjana,Rencana Menikah,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.0,107776.0,0.0,1.0,8.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,Muda,Magister,Sendiri,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.0,10115.0,4.0,0.0,6.0,1.0,2014-03-17
3814,3334,Muda,Sarjana,Menikah,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.0,78693.0,0.0,6.0,8.0,0.0,NaN
3815,3478,Sedang,Magister,Rencana Menikah,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.0,10540.0,NaN,0.0,1.0,0.0,NaN
3816,89,Sedang,Sarjana,Rencana Menikah,106301000.0,0.0,1.0,74.0,16184.0,78897.0,NaN,0.0,3.0,5.0,3.0,0.0,2014-01-20
3817,2151,Muda,Sarjana,Menikah,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.0,NaN,2.0,2.0,8.0,0.0,2012-09-15

In [ ]:
#Preprocessing data status_pernikahan
test_features['status_pernikahan'] = test_features['status_pernikahan'].fillna(test_features['status_pernikahan'].mode().iloc[0])
test_features

,ID,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,2241,Tua,Sarjana,Rencana Menikah,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.0,84305.0,4.0,6.0,10.0,0.0,NaN
1,2274,Sedang,Doktor,Menikah,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.0,41112.0,2.0,5.0,10.0,0.0,NaN
2,1107,Sedang,SMA,Menikah,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.0,26299.0,2.0,0.0,5.0,0.0,2013-08-06
3,4478,Muda,Doktor,Menikah,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.0,9745.0,3.0,5.0,7.0,0.0,NaN
4,5080,Muda,Sarjana,Rencana Menikah,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.0,107776.0,0.0,1.0,8.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,Muda,Magister,Sendiri,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.0,10115.0,4.0,0.0,6.0,1.0,2014-03-17
3814,3334,Muda,Sarjana,Menikah,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.0,78693.0,0.0,6.0,8.0,0.0,NaN
3815,3478,Sedang,Magister,Rencana Menikah,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.0,10540.0,NaN,0.0,1.0,0.0,NaN
3816,89,Sedang,Sarjana,Rencana Menikah,106301000.0,0.0,1.0,74.0,16184.0,78897.0,NaN,0.0,3.0,5.0,3.0,0.0,2014-01-20
3817,2151,Muda,Sarjana,Menikah,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.0,NaN,2.0,2.0,8.0,0.0,2012-09-15

In [ ]:
#Preprocessing data pendapatan
test_features['pendapatan'] = test_features['pendapatan'].fillna(test_features['pendapatan'].median())
test_features

,ID,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,2241,Tua,Sarjana,Rencana Menikah,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.0,84305.0,4.0,6.0,10.0,0.0,NaN
1,2274,Sedang,Doktor,Menikah,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.0,41112.0,2.0,5.0,10.0,0.0,NaN
2,1107,Sedang,SMA,Menikah,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.0,26299.0,2.0,0.0,5.0,0.0,2013-08-06
3,4478,Muda,Doktor,Menikah,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.0,9745.0,3.0,5.0,7.0,0.0,NaN
4,5080,Muda,Sarjana,Rencana Menikah,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.0,107776.0,0.0,1.0,8.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,Muda,Magister,Sendiri,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.0,10115.0,4.0,0.0,6.0,1.0,2014-03-17
3814,3334,Muda,Sarjana,Menikah,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.0,78693.0,0.0,6.0,8.0,0.0,NaN
3815,3478,Sedang,Magister,Rencana Menikah,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.0,10540.0,NaN,0.0,1.0,0.0,NaN
3816,89,Sedang,Sarjana,Rencana Menikah,106301000.0,0.0,1.0,74.0,16184.0,78897.0,NaN,0.0,3.0,5.0,3.0,0.0,2014-01-20
3817,2151,Muda,Sarjana,Menikah,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.0,NaN,2.0,2.0,8.0,0.0,2012-09-15

In [ ]:
test_features['jumlah_anak_balita'] = test_features['jumlah_anak_balita'].fillna(test_features['jumlah_anak_balita'].mode().iloc[0])
test_features

,ID,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,2241,Tua,Sarjana,Rencana Menikah,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.0,84305.0,4.0,6.0,10.0,0.0,NaN
1,2274,Sedang,Doktor,Menikah,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.0,41112.0,2.0,5.0,10.0,0.0,NaN
2,1107,Sedang,SMA,Menikah,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.0,26299.0,2.0,0.0,5.0,0.0,2013-08-06
3,4478,Muda,Doktor,Menikah,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.0,9745.0,3.0,5.0,7.0,0.0,NaN
4,5080,Muda,Sarjana,Rencana Menikah,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.0,107776.0,0.0,1.0,8.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,Muda,Magister,Sendiri,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.0,10115.0,4.0,0.0,6.0,1.0,2014-03-17
3814,3334,Muda,Sarjana,Menikah,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.0,78693.0,0.0,6.0,8.0,0.0,NaN
3815,3478,Sedang,Magister,Rencana Menikah,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.0,10540.0,NaN,0.0,1.0,0.0,NaN
3816,89,Sedang,Sarjana,Rencana Menikah,106301000.0,0.0,1.0,74.0,16184.0,78897.0,NaN,0.0,3.0,5.0,3.0,0.0,2014-01-20
3817,2151,Muda,Sarjana,Menikah,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.0,NaN,2.0,2.0,8.0,0.0,2012-09-15

In [ ]:
#Preprocessing data jumlah anak remaja
test_features['jumlah_anak_remaja'] = test_features['jumlah_anak_remaja'].fillna(test_features['jumlah_anak_remaja'].mode().iloc[0])
test_features

,ID,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,2241,Tua,Sarjana,Rencana Menikah,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.0,84305.0,4.0,6.0,10.0,0.0,NaN
1,2274,Sedang,Doktor,Menikah,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.0,41112.0,2.0,5.0,10.0,0.0,NaN
2,1107,Sedang,SMA,Menikah,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.0,26299.0,2.0,0.0,5.0,0.0,2013-08-06
3,4478,Muda,Doktor,Menikah,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.0,9745.0,3.0,5.0,7.0,0.0,NaN
4,5080,Muda,Sarjana,Rencana Menikah,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.0,107776.0,0.0,1.0,8.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,Muda,Magister,Sendiri,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.0,10115.0,4.0,0.0,6.0,1.0,2014-03-17
3814,3334,Muda,Sarjana,Menikah,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.0,78693.0,0.0,6.0,8.0,0.0,NaN
3815,3478,Sedang,Magister,Rencana Menikah,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.0,10540.0,NaN,0.0,1.0,0.0,NaN
3816,89,Sedang,Sarjana,Rencana Menikah,106301000.0,0.0,1.0,74.0,16184.0,78897.0,NaN,0.0,3.0,5.0,3.0,0.0,2014-01-20
3817,2151,Muda,Sarjana,Menikah,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.0,NaN,2.0,2.0,8.0,0.0,2012-09-15

In [ ]:
#preprocessing terakir belanja
mean_ceil_value = np.ceil(test_features['terakhir_belanja'].mean())
test_features['terakhir_belanja'] = test_features['terakhir_belanja'].fillna(mean_ceil_value)
test_features['terakhir_belanja'] = np.ceil(test_features['terakhir_belanja'])
test_features

,ID,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,2241,Tua,Sarjana,Rencana Menikah,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.0,84305.0,4.0,6.0,10.0,0.0,NaN
1,2274,Sedang,Doktor,Menikah,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.0,41112.0,2.0,5.0,10.0,0.0,NaN
2,1107,Sedang,SMA,Menikah,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.0,26299.0,2.0,0.0,5.0,0.0,2013-08-06
3,4478,Muda,Doktor,Menikah,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.0,9745.0,3.0,5.0,7.0,0.0,NaN
4,5080,Muda,Sarjana,Rencana Menikah,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.0,107776.0,0.0,1.0,8.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,Muda,Magister,Sendiri,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.0,10115.0,4.0,0.0,6.0,1.0,2014-03-17
3814,3334,Muda,Sarjana,Menikah,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.0,78693.0,0.0,6.0,8.0,0.0,NaN
3815,3478,Sedang,Magister,Rencana Menikah,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.0,10540.0,NaN,0.0,1.0,0.0,NaN
3816,89,Sedang,Sarjana,Rencana Menikah,106301000.0,0.0,1.0,74.0,16184.0,78897.0,NaN,0.0,3.0,5.0,3.0,0.0,2014-01-20
3817,2151,Muda,Sarjana,Menikah,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.0,NaN,2.0,2.0,8.0,0.0,2012-09-15

In [ ]:
#preprocessing belanja buah
test_features['belanja_buah'] = test_features['belanja_buah'].fillna(test_features['belanja_buah'].mean())

#preprocessing belanja belanja daging
test_features['belanja_daging'] = test_features['belanja_daging'].fillna(test_features['belanja_daging'].mean())

#preprocessing belanja ikan
test_features['belanja_ikan'] = test_features['belanja_ikan'].fillna(test_features['belanja_ikan'].mean())

#preprocessing belanja kue
test_features['belanja_kue'] = test_features['belanja_kue'].fillna(test_features['belanja_kue'].mean())
test_features

,ID,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,2241,Tua,Sarjana,Rencana Menikah,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.000000,84305.000000,4.0,6.0,10.0,0.0,NaN
1,2274,Sedang,Doktor,Menikah,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.000000,41112.000000,2.0,5.0,10.0,0.0,NaN
2,1107,Sedang,SMA,Menikah,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.000000,26299.000000,2.0,0.0,5.0,0.0,2013-08-06
3,4478,Muda,Doktor,Menikah,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.000000,9745.000000,3.0,5.0,7.0,0.0,NaN
4,5080,Muda,Sarjana,Rencana Menikah,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.000000,107776.000000,0.0,1.0,8.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,Muda,Magister,Sendiri,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.000000,10115.000000,4.0,0.0,6.0,1.0,2014-03-17
3814,3334,Muda,Sarjana,Menikah,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.000000,78693.000000,0.0,6.0,8.0,0.0,NaN
3815,3478,Sedang,Magister,Rencana Menikah,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.000000,10540.000000,NaN,0.0,1.0,0.0,NaN
3816,89,Sedang,Sarjana,Rencana Menikah,106301000.0,0.0,1.0,74.0,16184.0,78897.0,85338.612093,0.000000,3.0,5.0,3.0,0.0,2014-01-20
3817,2151,Muda,Sarjana,Menikah,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.000000,63801.505921,2.0,2.0,8.0,0.0,2012-09-15

In [ ]:
#preprocessing pembelian diskon
mean_ceil_value = np.ceil(test_features['pembelian_diskon'].mean())
test_features['pembelian_diskon'] = test_features['pembelian_diskon'].fillna(mean_ceil_value)
test_features['pembelian_diskon'] = np.ceil(test_features['pembelian_diskon'])

#preprocessing pembelian web
mean_ceil_value = np.ceil(test_features['pembelian_web'].mean())
test_features['pembelian_web'] = test_features['pembelian_web'].fillna(mean_ceil_value)
test_features['pembelian_web'] = np.ceil(test_features['pembelian_web'])

#preprocessing pembelian toko
mean_ceil_value = np.ceil(test_features['pembelian_toko'].mean())
test_features['pembelian_toko'] = test_features['pembelian_toko'].fillna(mean_ceil_value)
test_features['pembelian_toko'] = np.ceil(test_features['pembelian_toko'])
test_features

,ID,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,2241,Tua,Sarjana,Rencana Menikah,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.000000,84305.000000,4.0,6.0,10.0,0.0,NaN
1,2274,Sedang,Doktor,Menikah,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.000000,41112.000000,2.0,5.0,10.0,0.0,NaN
2,1107,Sedang,SMA,Menikah,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.000000,26299.000000,2.0,0.0,5.0,0.0,2013-08-06
3,4478,Muda,Doktor,Menikah,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.000000,9745.000000,3.0,5.0,7.0,0.0,NaN
4,5080,Muda,Sarjana,Rencana Menikah,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.000000,107776.000000,0.0,1.0,8.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,Muda,Magister,Sendiri,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.000000,10115.000000,4.0,0.0,6.0,1.0,2014-03-17
3814,3334,Muda,Sarjana,Menikah,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.000000,78693.000000,0.0,6.0,8.0,0.0,NaN
3815,3478,Sedang,Magister,Rencana Menikah,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.000000,10540.000000,3.0,0.0,1.0,0.0,NaN
3816,89,Sedang,Sarjana,Rencana Menikah,106301000.0,0.0,1.0,74.0,16184.0,78897.0,85338.612093,0.000000,3.0,5.0,3.0,0.0,2014-01-20
3817,2151,Muda,Sarjana,Menikah,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.000000,63801.505921,2.0,2.0,8.0,0.0,2012-09-15

In [ ]:
test_features['keluhan'] = test_features['keluhan'].fillna(test_features['keluhan'].mode().iloc[0])
test_features

,ID,tahun_kelahiran,pendidikan,status_pernikahan,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,pembelian_web,pembelian_toko,keluhan,tanggal_menjadi_anggota
0,2241,Tua,Sarjana,Rencana Menikah,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.000000,84305.000000,4.0,6.0,10.0,0.0,NaN
1,2274,Sedang,Doktor,Menikah,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.000000,41112.000000,2.0,5.0,10.0,0.0,NaN
2,1107,Sedang,SMA,Menikah,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.000000,26299.000000,2.0,0.0,5.0,0.0,2013-08-06
3,4478,Muda,Doktor,Menikah,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.000000,9745.000000,3.0,5.0,7.0,0.0,NaN
4,5080,Muda,Sarjana,Rencana Menikah,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.000000,107776.000000,0.0,1.0,8.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,Muda,Magister,Sendiri,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.000000,10115.000000,4.0,0.0,6.0,1.0,2014-03-17
3814,3334,Muda,Sarjana,Menikah,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.000000,78693.000000,0.0,6.0,8.0,0.0,NaN
3815,3478,Sedang,Magister,Rencana Menikah,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.000000,10540.000000,3.0,0.0,1.0,0.0,NaN
3816,89,Sedang,Sarjana,Rencana Menikah,106301000.0,0.0,1.0,74.0,16184.0,78897.0,85338.612093,0.000000,3.0,5.0,3.0,0.0,2014-01-20
3817,2151,Muda,Sarjana,Menikah,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.000000,63801.505921,2.0,2.0,8.0,0.0,2012-09-15

In [ ]:
encoded_data = one_hot_encoder.fit_transform(test_features[['tahun_kelahiran','pendidikan','status_pernikahan']])
encoded_df = pd.DataFrame(encoded_data, columns=one_hot_encoder.get_feature_names_out(['tahun_kelahiran','pendidikan','status_pernikahan']))
# Menggabungkan DataFrame hasil encoding dengan DataFrame asli
test_features = pd.concat([test_features, encoded_df], axis=1)
test_features = test_features.drop(columns = ['tahun_kelahiran','pendidikan','status_pernikahan'])

# Menampilkan hasil
test_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ID                                 3818 non-null   int64
 1   pendapatan                         3818 non-null   float64
 2   jumlah_anak_balita                 3818 non-null   float64
 3   jumlah_anak_remaja                 3818 non-null   float64
 4   terakhir_belanja                   3818 non-null   float64
 5   belanja_buah                       3818 non-null   float64
 6   belanja_daging                     3818 non-null   float64
 7   belanja_ikan                       3818 non-null   float64
 8   belanja_kue                        3818 non-null   float64
 9   pembelian_diskon                   3818 non-null   float64
 10  pembelian_web                      3818 non-null   float64
 11  pembelian_toko                     3818 non-null   float64
 12  keluhan                            3818 non-null   float64
 13  tanggal_menjadi_anggota            1059 non-null   object
 14  tahun_kelahiran_Muda               3818 non-null   float64
 15  tahun_kelahiran_Sedang             3818 non-null   float64
 16  tahun_kelahiran_Tua                3818 non-null   float64
 17  pendidikan_5                       3818 non-null   float64
 18  pendidikan_Doktor                  3818 non-null   float64
 19  pendidikan_Magister                3818 non-null   float64
 20  pendidikan_SMA                     3818 non-null   float64
 21  pendidikan_SMP                     3818 non-null   float64
 22  pendidikan_Sarjana                 3818 non-null   float64
 23  status_pernikahan_5                3818 non-null   float64
 24  status_pernikahan_Cerai            3818 non-null   float64
 25  status_pernikahan_Cerai Mati       3818 non-null   float64
 26  status_pernikahan_Menikah          3818 non-null   float64
 27  status_pernikahan_Rencana Menikah  3818 non-null   float64
 28  status_pernikahan_Sendiri          3818 non-null   float64
dtypes: float64(27), int64(1), object(1)
memory usage: 865.1+ KB

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
#preprocessing tanggal jadi anggo
#preprocessing tanggal jadi anggot
test_features['tahun'] = pd.to_datetime(test_features['tanggal_menjadi_anggota']).dt.year
test_features['bulan'] = pd.to_datetime(test_features['tanggal_menjadi_anggota']).dt.month
test_features['hari'] = pd.to_datetime(test_features['tanggal_menjadi_anggota']).dt.day

# Drop kolom tanggal awal
test_features.drop('tanggal_menjadi_anggota', axis=1, inplace=True)

# Membuat DataFrame baru yang berisi kolom tanggal yang tidak null
not_null_dates = test_features[test_features['tahun'].notnull()]

# Membuat DataFrame baru yang berisi kolom tanggal yang null
null_dates = test_features[test_features['tahun'].isnull()]

# Pisahkan fitur dan target
X_train = not_null_dates.drop(columns = ['tahun', 'bulan', 'hari'])  # Ganti fitur1, fitur2, ... dengan fitur-fitur yang relevan
y_train = not_null_dates[['tahun', 'bulan', 'hari']]

# Inisialisasi model Regresi Linear Multi-output
model = LinearRegression()

# Melatih model
model.fit(X_train, y_train)

# Prediksi nilai-nilai yang hilang
X_test = null_dates.drop(columns = ['tahun', 'bulan', 'hari'])  # Sama seperti di atas, ganti dengan fitur yang relevan
predicted_values = model.predict(X_test)

# Isi nilai null dengan nilai-nilai yang diprediksi
test_features.loc[test_features['tahun'].isnull(), ['tahun', 'bulan', 'hari']] = predicted_values

# Sekarang test_features akan berisi data dengan nilai null yang sudah diisi

In [ ]:
encoded_data = one_hot_encoder.fit_transform(test_features[['tahun_kelahiran','pendidikan','status_pernikahan']])
encoded_df = pd.DataFrame(encoded_data, columns=one_hot_encoder.get_feature_names_out(['tahun_kelahiran','pendidikan','status_pernikahan']))
# Menggabungkan DataFrame hasil encoding dengan DataFrame asli
test_features = pd.concat([test_features, encoded_df], axis=1)
test_features = test_features.drop(columns = ['tahun_kelahiran','pendidikan','status_pernikahan'])

# Menampilkan hasil
test_features

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,ID,pendapatan,jumlah_anak_balita,jumlah_anak_remaja,terakhir_belanja,belanja_buah,belanja_daging,belanja_ikan,belanja_kue,pembelian_diskon,...,pendidikan_Magister,pendidikan_SMA,pendidikan_SMP,pendidikan_Sarjana,status_pernikahan_5,status_pernikahan_Cerai,status_pernikahan_Cerai Mati,status_pernikahan_Menikah,status_pernikahan_Rencana Menikah,status_pernikahan_Sendiri
0,2241,120660151.0,0.0,1.0,63.0,122277.0,541399.0,214192.000000,84305.000000,4.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2274,163551821.0,0.0,1.0,58.0,35761.0,353335.0,63365.000000,41112.000000,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1107,29857000.0,0.0,0.0,34.0,8092.0,22253.0,30345.000000,26299.000000,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,4478,117949098.0,0.0,1.0,82.0,4872.0,126061.0,0.000000,9745.000000,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,5080,164761134.0,0.0,0.0,28.0,343208.0,1416462.0,236196.000000,107776.000000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,271,66320000.0,1.0,0.0,19.0,12138.0,38437.0,0.000000,10115.000000,4.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3814,3334,159651946.0,0.0,0.0,90.0,32119.0,1032587.0,176078.000000,78693.000000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3815,3478,84058923.0,0.0,1.0,46.0,8198.0,47595.0,11392.000000,10540.000000,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3816,89,106301000.0,0.0,1.0,74.0,16184.0,78897.0,85338.612093,0.000000,3.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3817,2151,140353000.0,0.0,0.0,9.0,62713.0,1707412.0,453152.000000,63801.505921,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

# Machine Learning

In [ ]:
!pip install pycaret

Requirement already satisfied: pycaret in /usr/local/lib/python3.10/dist-packages (3.3.2)
Requirement already satisfied: ipython>=5.5.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (7.34.0)
Requirement already satisfied: ipywidgets>=7.6.5 in /usr/local/lib/python3.10/dist-packages (from pycaret) (7.7.1)
Requirement already satisfied: tqdm>=4.62.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (4.66.2)
Requirement already satisfied: numpy<1.27,>=1.21 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.25.2)
Requirement already satisfied: pandas<2.2.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (2.0.3)
Requirement already satisfied: jinja2>=3 in /usr/local/lib/python3.10/dist-packages (from pycaret) (3.1.3)
Requirement already satisfied: scipy<=1.11.4,>=1.6.1 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.11.4)
Requirement already satisfied: joblib<1.4,>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.3.2)
Requirement already satisfied: scikit-learn>1.4.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.4.2)
Requirement already satisfied: pyod>=1.1.3 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.1.3)
Requirement already satisfied: imbalanced-learn>=0.12.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (0.12.2)
Requirement already satisfied: category-encoders>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (2.6.3)
Requirement already satisfied: lightgbm>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (4.1.0)
Requirement already satisfied: numba>=0.55.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (0.58.1)
Requirement already satisfied: requests>=2.27.1 in /usr/local/lib/python3.10/dist-packages (from pycaret) (2.31.0)
Requirement already satisfied: psutil>=5.9.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (5.9.5)
Requirement already satisfied: markupsafe>=2.0.1 in /usr/local/lib/python3.10/dist-packages (from pycaret) (2.1.5)
Requirement already satisfied: importlib-metadata>=4.12.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (7.1.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (5.10.4)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.10/dist-packages (from pycaret) (2.2.1)
Requirement already satisfied: deprecation>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (2.1.0)
Requirement already satisfied: xxhash in /usr/local/lib/python3.10/dist-packages (from pycaret) (3.4.1)
Requirement already satisfied: matplotlib<3.8.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (3.7.1)
Requirement already satisfied: scikit-plot>=0.3.7 in /usr/local/lib/python3.10/dist-packages (from pycaret) (0.3.7)
Requirement already satisfied: yellowbrick>=1.4 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.5)
Requirement already satisfied: plotly>=5.14.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (5.15.0)
Requirement already satisfied: kaleido>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from pycaret) (0.2.1)
Requirement already satisfied: schemdraw==0.15 in /usr/local/lib/python3.10/dist-packages (from pycaret) (0.15)
Requirement already satisfied: plotly-resampler>=0.8.3.1 in /usr/local/lib/python3.10/dist-packages (from pycaret) (0.10.0)
Requirement already satisfied: statsmodels>=0.12.1 in /usr/local/lib/python3.10/dist-packages (from pycaret) (0.14.2)
Requirement already satisfied: sktime==0.26.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (0.26.0)
Requirement already satisfied: tbats>=1.1.3 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.1.3)
Requirement already satisfied: pmdarima>=2.0.4 in /usr/local/lib/python3.10/dist-packages (from pycaret) (2.0.4)
Requirement already satisfied: wurlitzer in /usr/local/lib/python3.10/dist-packages (from pycaret) (3.0.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from sktime==0.26.0->pycaret) (24.0)
Requirement already satisfied: scikit-base<0.8.0 in /usr/local/lib/python3.10/dist-packages (from sktime==0.26.0->pycaret) (0.7.7)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category-encoders>=2.4.0->pycaret) (0.5.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn>=0.12.0->pycaret) (3.4.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.12.0->pycaret) (3.18.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (4.9.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.6.5->pycaret) (5.5.6)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.6.5->pycaret) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.6.5->pycaret) (3.6.6)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.6.5->pycaret) (3.0.10)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.8.0->pycaret) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.8.0->pycaret) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.8.0->pycaret) (4.51.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.8.0->pycaret) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.8.0->pycaret) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.8.0->pycaret) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.8.0->pycaret) (2.8.2)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.10/dist-packages (from nbformat>=4.2.0->pycaret) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.10/dist-packages (from nbformat>=4.2.0->pycaret) (4.19.2)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /usr/local/lib/python3.10/dist-packages (from nbformat>=4.2.0->pycaret) (5.7.2)
Requirement already satisfied: llvmlite<0.42,>=0.41.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba>=0.55.0->pycaret) (0.41.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.0->pycaret) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.0->pycaret) (2024.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly>=5.14.0->pycaret) (8.2.3)
Requirement already satisfied: dash>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from plotly-resampler>=0.8.3.1->pycaret) (2.16.1)
Requirement already satisfied: orjson<4.0.0,>=3.8.0 in /usr/local/lib/python3.10/dist-packages (from plotly-resampler>=0.8.3.1->pycaret) (3.10.1)
Requirement already satisfied: tsdownsample>=0.1.3 in /usr/local/lib/python3.10/dist-packages (from plotly-resampler>=0.8.3.1->pycaret) (0.1.3)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /usr/local/lib/python3.10/dist-packages (from pmdarima>=2.0.4->pycaret) (3.0.10)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from pmdarima>=2.0.4->pycaret) (2.0.7)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from pyod>=1.1.3->pycaret) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27.1->pycaret) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27.1->pycaret) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27.1->pycaret) (2024.2.2)
Requirement already satisfied: Flask<3.1,>=1.0.4 in /usr/local/lib/python3.10/dist-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.2.5)
Requirement already satisfied: Werkzeug<3.1 in /usr/local/lib/python3.10/dist-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (3.0.2)
Requirement already satisfied: dash-html-components==2.0.0 in /usr/local/lib/python3.10/dist-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in /usr/local/lib/python3.10/dist-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in /usr/local/lib/python3.10/dist-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (5.0.0)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.10/dist-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (4.11.0)
Requirement already satisfied: retrying in /usr/local/lib/python3.10/dist-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.3.4)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.6.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.10/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (6.3.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.34.0)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core!=5.0.*,>=4.12->nbformat>=4.2.0->pycaret) (4.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=5.5.0->pycaret) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.5.0->pycaret) (0.2.13)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.10/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (6.5.5)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask<3.1,>=1.0.4->dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.2.0)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask<3.1,>=1.0.4->dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (8.1.7)
Requirement already satisfied: pyzmq<25,>=17 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (23.2.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (23.1.0)
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (6.5.4)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.20.0)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.0.0)
Requirement already satisfied: jupyter-server>=1.8 in /usr/local/lib/python3.10/dist-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.24.0)
Requirement already satisfied: notebook-shim>=0.2.3 in /usr/local/lib/python3.10/dist-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.2.4)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (4.9.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (4.12.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (6.1.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.4)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.3.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.10.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.5.1)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.2.1)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (21.2.0)
Requirement already satisfied: anyio<4,>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (3.7.1)
Requirement already satisfied: websocket-client in /usr/local/lib/python3.10/dist-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.7.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (2.5)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.5.1)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.10/dist-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.3.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.2.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (2.22)

In [ ]:
!pip install catboost

Collecting catboost
  Using cached catboost-1.2.5-cp310-cp310-manylinux2014_x86_64.whl (98.2 MB)
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.25.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (2.0.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.11.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.51.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.2.3)
Installing collected packages: catboost
Successfully installed catboost-1.2.5

In [ ]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.10/dist-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.25.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.4.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.11.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (2.0.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.4.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.0)

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.multioutput import MultiOutputClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV, train_test_split, RandomizedSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import lightgbm as lgb

In [ ]:
!pip install optuna

Collecting optuna
  Downloading optuna-3.6.1-py3-none-any.whl (380 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 380.1/380.1 kB 5.0 MB/s eta 0:00:00
Collecting alembic>=1.5.0 (from optuna)
  Downloading alembic-1.13.1-py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.4/233.4 kB 23.3 MB/s eta 0:00:00
Collecting colorlog (from optuna)
  Downloading colorlog-6.8.2-py3-none-any.whl (11 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from optuna) (1.25.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (24.0)
Requirement already satisfied: sqlalchemy>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (2.0.29)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from optuna) (4.66.2)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from optuna) (6.0.1)
Collecting Mako (from alembic>=1.5.0->optuna)
  Downloading Mako-1.3.3-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.8/78.8 kB 12.8 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.10/dist-packages (from alembic>=1.5.0->optuna) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.3.0->optuna) (3.0.3)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.10/dist-packages (from Mako->alembic>=1.5.0->optuna) (2.1.5)
Installing collected packages: Mako, colorlog, alembic, optuna
Successfully installed Mako-1.3.3 alembic-1.13.1 colorlog-6.8.2 optuna-3.6.1

In [ ]:
from pycaret.classification import setup, compare_models

In [ ]:
train_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3817 entries, 0 to 3816
Data columns (total 31 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   pendapatan                         3817 non-null   float64
 1   jumlah_anak_balita                 3817 non-null   float64
 2   jumlah_anak_remaja                 3817 non-null   float64
 3   terakhir_belanja                   3817 non-null   float64
 4   belanja_buah                       3817 non-null   float64
 5   belanja_daging                     3817 non-null   float64
 6   belanja_ikan                       3817 non-null   float64
 7   belanja_kue                        3817 non-null   float64
 8   pembelian_diskon                   3817 non-null   float64
 9   pembelian_web                      3817 non-null   float64
 10  pembelian_toko                     3817 non-null   float64
 11  keluhan                            3817 non-null   float64
 12  jumlah_promosi                     3817 non-null   int64
 13  tahun_kelahiran_Muda               3817 non-null   float64
 14  tahun_kelahiran_Sedang             3817 non-null   float64
 15  tahun_kelahiran_Tua                3817 non-null   float64
 16  pendidikan_5                       3817 non-null   float64
 17  pendidikan_Doktor                  3817 non-null   float64
 18  pendidikan_Magister                3817 non-null   float64
 19  pendidikan_SMA                     3817 non-null   float64
 20  pendidikan_SMP                     3817 non-null   float64
 21  pendidikan_Sarjana                 3817 non-null   float64
 22  status_pernikahan_5                3817 non-null   float64
 23  status_pernikahan_Cerai            3817 non-null   float64
 24  status_pernikahan_Cerai Mati       3817 non-null   float64
 25  status_pernikahan_Menikah          3817 non-null   float64
 26  status_pernikahan_Rencana Menikah  3817 non-null   float64
 27  status_pernikahan_Sendiri          3817 non-null   float64
 28  tahun                              3817 non-null   float64
 29  bulan                              3817 non-null   float64
 30  hari                               3817 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 924.6 KB

In [ ]:
test_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       3818 non-null   int64
 1   tahun_kelahiran          3818 non-null   int64
 2   pendidikan               3614 non-null   object
 3   status_pernikahan        3636 non-null   object
 4   pendapatan               3615 non-null   float64
 5   jumlah_anak_balita       3609 non-null   float64
 6   jumlah_anak_remaja       3608 non-null   float64
 7   terakhir_belanja         3617 non-null   float64
 8   belanja_buah             3632 non-null   float64
 9   belanja_daging           3623 non-null   float64
 10  belanja_ikan             3622 non-null   float64
 11  belanja_kue              3631 non-null   float64
 12  pembelian_diskon         3639 non-null   float64
 13  pembelian_web            3638 non-null   float64
 14  pembelian_toko           3632 non-null   float64
 15  keluhan                  3625 non-null   float64
 16  tanggal_menjadi_anggota  1059 non-null   object
dtypes: float64(12), int64(2), object(3)
memory usage: 507.2+ KB

In [ ]:
x_train = train_file.drop(columns = ['jumlah_promosi'], axis = 1)
y_train = train_file['jumlah_promosi']

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_train, test_size=0.2, random_state=42)

In [ ]:
setup(data = train_file, target = 'jumlah_promosi')
compare_models()

Processing:   0%|          | 0/69 [00:00<?, ?it/s]

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       monotonic_cst=None, n_estimators=100, n_jobs=-1,
                       oob_score=False, random_state=5262, verbose=0,
                       warm_start=False)

In [ ]:
test_features_column = test_features.drop(columns=['ID'])

In [ ]:
models = {}
# DataFrame to store test predictions
submission = pd.DataFrame()
submission['id'] = test_features['ID']

In [ ]:
# Define hyperparameter grid
param_grid = {
     'n_estimators': [100, 200, 300],
    'learning_rate': [0.01, 0.05, 0.1],
    'max_depth': [3, 5, 7],
    'min_child_weight': [1, 3, 5],
    'gamma': [0, 0.1, 0.2],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0],
    'reg_alpha': [0, 0.1, 0.5, 1],
    'reg_lambda': [0, 0.1, 0.5, 1]
}



# Create the model (replace with LGBMClassifier if desired)
model = XGBClassifier()

# Perform tuning using RandomizedSearchCV
tuner = RandomizedSearchCV(model, param_grid, n_iter=20, cv=5, scoring='roc_auc', n_jobs=-1)
best_model = tuner.fit(X_train, Y_train)
best_params = best_model.best_params_
best_model = tuner.best_estimator_
accuracy = best_model.score(X_test, Y_test)
print("Akurasi model terbaik:", accuracy)

NameError: name 'X_train' is not defined

In [ ]:
# Tentukan parameter grid yang ingin Anda coba
# Define hyperparameter grid
param_grid = {
     'n_estimators': [100, 200, 300],
    'learning_rate': [0.01, 0.05, 0.1],
    'max_depth': [3, 5, 7],
    'min_child_weight': [1, 3, 5],
    'gamma': [0, 0.1, 0.2],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0],
    'reg_alpha': [0, 0.1, 0.5, 1],
    'reg_lambda': [0, 0.1, 0.5, 1]
}


# Inisialisasi model
rf = XGBClassifier()

# Inisialisasi GridSearchCV
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5, scoring='accuracy', n_jobs=-1)

# Melatih model menggunakan GridSearchCV
grid_search.fit(X_train, Y_train)

# Mendapatkan parameter terbaik
best_params = grid_search.best_params_
print("Parameter terbaik:", best_params)

# Evaluasi model terbaik pada data uji
best_model = grid_search.best_estimator_
accuracy = best_model.score(X_test, Y_test)
print("Akurasi model terbaik:", accuracy)

In [ ]:
import optuna
from sklearn.model_selection import cross_val_score
from xgboost import XGBClassifier

def objective(trial):
    params = {
        'n_estimators': trial.suggest_int('n_estimators', 100, 1000, 100),
        'max_depth': trial.suggest_int('max_depth', 3, 10),
        'learning_rate': trial.suggest_loguniform('learning_rate', 0.001, 0.1),
        'subsample': trial.suggest_uniform('subsample', 0.5, 1.0),
        'colsample_bytree': trial.suggest_uniform('colsample_bytree', 0.5, 1.0),
        'gamma': trial.suggest_loguniform('gamma', 0.01, 1.0),
        'reg_alpha': trial.suggest_loguniform('reg_alpha', 0.01, 10.0),
        'reg_lambda': trial.suggest_loguniform('reg_lambda', 0.01, 10.0)
    }

    model = XGBClassifier(**params)
    score = cross_val_score(model, X_train, Y_train, cv=5).mean()
    return score

study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=10)

print('Best trial:')
trial = study.best_trial
print('  Value: {:.3f}'.format(trial.value))
print('  Params: ')
for key, value in trial.params.items():
    print('    {}: {}'.format(key, value))

[I 2024-04-20 11:33:37,958] A new study created in memory with name: no-name-24186057-5afe-489a-8c9a-3c2742f1e0fa
[I 2024-04-20 11:34:06,656] Trial 0 finished with value: 0.697346999007271 and parameters: {'n_estimators': 900, 'max_depth': 5, 'learning_rate': 0.02811160202348226, 'subsample': 0.8799482748143765, 'colsample_bytree': 0.5465263737749787, 'gamma': 0.13040983955261518, 'reg_alpha': 0.028841012095176755, 'reg_lambda': 0.12326219303606907}. Best is trial 0 with value: 0.697346999007271.
[I 2024-04-20 11:35:36,022] Trial 1 finished with value: 0.6809675082503823 and parameters: {'n_estimators': 900, 'max_depth': 9, 'learning_rate': 0.00815939911428916, 'subsample': 0.6006131863607684, 'colsample_bytree': 0.8068385026050803, 'gamma': 0.010265385915351585, 'reg_alpha': 1.3054815741220858, 'reg_lambda': 0.09105874298490829}. Best is trial 0 with value: 0.697346999007271.
[I 2024-04-20 11:36:14,612] Trial 2 finished with value: 0.6423213758686378 and parameters: {'n_estimators': 1000, 'max_depth': 5, 'learning_rate': 0.018680472780428878, 'subsample': 0.5447413567117884, 'colsample_bytree': 0.6631291805567573, 'gamma': 0.012212400941446698, 'reg_alpha': 2.9773181973146685, 'reg_lambda': 0.032926924772035585}. Best is trial 0 with value: 0.697346999007271.
[I 2024-04-20 11:37:12,257] Trial 3 finished with value: 0.666549327895683 and parameters: {'n_estimators': 400, 'max_depth': 10, 'learning_rate': 0.004117662306125342, 'subsample': 0.981567401274203, 'colsample_bytree': 0.8540167558494579, 'gamma': 0.29420611753878584, 'reg_alpha': 0.018746406673622942, 'reg_lambda': 1.331015979147414}. Best is trial 0 with value: 0.697346999007271.
[I 2024-04-20 11:37:34,753] Trial 4 finished with value: 0.6924337957124842 and parameters: {'n_estimators': 500, 'max_depth': 5, 'learning_rate': 0.042170493421231824, 'subsample': 0.9819814805881799, 'colsample_bytree': 0.6456178121942924, 'gamma': 0.014099779260202184, 'reg_alpha': 0.20558641983026485, 'reg_lambda': 0.011049440666814046}. Best is trial 0 with value: 0.697346999007271.
[I 2024-04-20 11:38:04,601] Trial 5 finished with value: 0.51621314158461 and parameters: {'n_estimators': 500, 'max_depth': 6, 'learning_rate': 0.001989334827530036, 'subsample': 0.6511597811312066, 'colsample_bytree': 0.9709806537217851, 'gamma': 0.1110445150477444, 'reg_alpha': 6.279844160223988, 'reg_lambda': 0.033408995408986404}. Best is trial 0 with value: 0.697346999007271.
[I 2024-04-20 11:38:17,403] Trial 6 finished with value: 0.6842456601647394 and parameters: {'n_estimators': 800, 'max_depth': 9, 'learning_rate': 0.0963279616100423, 'subsample': 0.8685621233123935, 'colsample_bytree': 0.714279567074189, 'gamma': 0.6024788372676253, 'reg_alpha': 0.07048289836970645, 'reg_lambda': 0.2570058095679236}. Best is trial 0 with value: 0.697346999007271.
[I 2024-04-20 11:38:30,341] Trial 7 finished with value: 0.4546306780070296 and parameters: {'n_estimators': 600, 'max_depth': 3, 'learning_rate': 0.001997486455951196, 'subsample': 0.7453559716127534, 'colsample_bytree': 0.691594832057884, 'gamma': 0.01426135220298278, 'reg_alpha': 0.6349849161040183, 'reg_lambda': 0.0130409307852105}. Best is trial 0 with value: 0.697346999007271.
[I 2024-04-20 11:38:32,852] Trial 8 finished with value: 0.4755997960881114 and parameters: {'n_estimators': 100, 'max_depth': 4, 'learning_rate': 0.00266806898650466, 'subsample': 0.7540118763501323, 'colsample_bytree': 0.7160499716940711, 'gamma': 0.22667812088742623, 'reg_alpha': 0.01099016668967599, 'reg_lambda': 0.06012131418263205}. Best is trial 0 with value: 0.697346999007271.
[I 2024-04-20 11:38:40,823] Trial 9 finished with value: 0.6554205682702369 and parameters: {'n_estimators': 200, 'max_depth': 4, 'learning_rate': 0.07296835955590132, 'subsample': 0.6531869383022226, 'colsample_bytree': 0.9333251973479371, 'gamma': 0.1329287988170306, 'reg_alpha': 0.11157905928379915, 'reg_lambda': 0.02113841197543463}. Best is trial 0 with value: 0.697346999007271.

Best trial:
  Value: 0.697
  Params:
    n_estimators: 900
    max_depth: 5
    learning_rate: 0.02811160202348226
    subsample: 0.8799482748143765
    colsample_bytree: 0.5465263737749787
    gamma: 0.13040983955261518
    reg_alpha: 0.028841012095176755
    reg_lambda: 0.12326219303606907

In [ ]:
accuracy = best_model.score(X_test, Y_test)
print("Akurasi model terbaik:", accuracy)

NameError: name 'best_model' is not defined

In [ ]:
test_features_column.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 27 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   pendapatan                         3818 non-null   float64
 1   jumlah_anak_balita                 3818 non-null   float64
 2   jumlah_anak_remaja                 3818 non-null   float64
 3   terakhir_belanja                   3818 non-null   float64
 4   belanja_buah                       3818 non-null   float64
 5   belanja_daging                     3818 non-null   float64
 6   belanja_ikan                       3818 non-null   float64
 7   belanja_kue                        3818 non-null   float64
 8   pembelian_diskon                   3818 non-null   float64
 9   pembelian_web                      3818 non-null   float64
 10  pembelian_toko                     3818 non-null   float64
 11  keluhan                            3818 non-null   float64
 12  tahun_kelahiran_Muda               3818 non-null   float64
 13  tahun_kelahiran_Sedang             3818 non-null   float64
 14  tahun_kelahiran_Tua                3818 non-null   float64
 15  pendidikan_5                       3818 non-null   float64
 16  pendidikan_Doktor                  3818 non-null   float64
 17  pendidikan_Magister                3818 non-null   float64
 18  pendidikan_SMA                     3818 non-null   float64
 19  pendidikan_SMP                     3818 non-null   float64
 20  pendidikan_Sarjana                 3818 non-null   float64
 21  status_pernikahan_5                3818 non-null   float64
 22  status_pernikahan_Cerai            3818 non-null   float64
 23  status_pernikahan_Cerai Mati       3818 non-null   float64
 24  status_pernikahan_Menikah          3818 non-null   float64
 25  status_pernikahan_Rencana Menikah  3818 non-null   float64
 26  status_pernikahan_Sendiri          3818 non-null   float64
dtypes: float64(27)
memory usage: 805.5 KB

In [ ]:
submission['jumlah_promosi'] = best_model.predict(test_features_column)

In [ ]:
submission

        id  jumlah_promosi
0     2241               1
1     2274               0
2     1107               0
3     4478               0
4     5080               0
...    ...             ...
3813   271               0
3814  3334               2
3815  3478               0
3816    89               0
3817  2151               6

[3818 rows x 2 columns]

In [ ]:
submission.to_csv('submission1.csv', index=False)